#ai-translator-language-selector {
	position: fixed;
	bottom: 5px;
	right: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	z-index: 1000;
}

#ai-translator-language-selector select {
	width: 150px;
	padding: 5px;
}

#ai-translator-language-selector #status {
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}

#ai-translator-language-selector #status.visible {
	display: block;
}

#ai-translator-language-selector #status.success {
	color: #008000;
}

#ai-translator-language-selector #status.error {
	color: #f00;
}

#ai-translator-language-selector #status.loading {
	color: #00f;
}
